
.header-blank {
    margin: 0;
    padding: 0;

}

.country-main {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-wrap: wrap;
}

.country {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--brown-color);
    height: 30vh;
    width: 100%;
    margin: 0 0;
}

.flag {
    width: 40px;
    height: auto;
}

.country-name {
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
}


.country-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    width: 100%;
    margin: 0 0;

}

.country-left, .country-right {
    flex: 1;
    padding: 20px;
    height: 70vh;
    border: 1px solid #000000;
    background-color: var(--beige-color);

}

.country-left {
    border-right: 1px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.country-right {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.data-container {
    font-family: "Inter-Regular", Helvetica;
}

.two-column-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 18px;
    padding: 20px;
    background-color: white;
    border-bottom: 1px solid black;
}

.left-column, .right-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.attribute {
    font-weight:600;
    font-size: large;
    text-align: right;
    padding: 20px;
    background: linear-gradient(to left, whitesmoke , white);
    color: black;
}

.data {
    font-weight: 400;
    font-size: large;
    padding: 20px;
    background: linear-gradient(to right, whitesmoke, white);
}

.error {
    color: red;
    margin-top: 10px;
}


.country-main  {
    display: flex;
    max-width: 100%;
    height: 40vh;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 0;
    background-color: var(--beige-color);
}

.country-main .search-container {
    max-width: 400px;
    width: 100%;
}
