/* ROOT VARIABLES       */

:root {
  --brown-color: #1e1c1b;
  --green-color: #7fbf3e;
  --sky-color: #96cbe3;
  --offwhite-color: #fffefc;
  --beige-color: #fefdf9;
  scroll-behavior: smooth;
}

/* GLOBAL STYLES        */

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

body.loaded {
  opacity: 1;
  transform: translateY(0);
}

.wrapper {
  max-width: 100%;
  margin: 0 auto;
}

/* SCROLLBAR STYLES     */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #00000033;
  border-radius: 20px;
  transition: background 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #00000066;
}

/* HEADER STYLES        */


/* HERO SECTION         */

.hero {
  margin: 0;
  padding: 0 0 50px 50px;
  height: 94vh;
  width: 100%;
  background-image: url(../assets/images/continents.webp);
  background-size: cover;
  background-position: center 70%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}
.hero .left {
  width: 600px;
}

.hero .left h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 125%;
  color: var(--beige-color);
  margin: 0;
}

.hero .left p {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  color: var(--beige-color);
  margin-top: 0;
}

.hero .right img {
  height: 128px;
  width: auto;
}

/* MAIN LAYOUT          */

.country-main {
  display: flex;
  max-width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--beige-color);
  background: url("https://images.unsplash.com/flagged/photo-1585324853527-1c567d53bb72?q=80&w=2124&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    center/cover no-repeat fixed;
  backdrop-filter: blur(15px);
  z-index: -1;
}

.country-main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: blur(100px);
  z-index: -1;
}

/* SEARCH BOX           */

.search-container {
  max-width: 500px;
  width: 100%;
  margin-top: 20px;
}

.search-container h2 {
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 800;
  font-size: 60px;
  color: var(--brown-color);
  text-align: left;
  margin: 0;
}

.search-container p {
  font-family: "Lucida Sans", sans-serif;
  font-size: 16px;
  font-weight: 800;
  text-align: left;
}

.search-box {
  display: flex;
  align-items: center;
  border: 2px solid whitesmoke;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  background: white;
  box-shadow: 2px 4px 10px #63904023;
}

.search-input {
  flex: 1;
  padding: 12px;
  font-size: 16px;
  border: none;
  outline: none;
}

.search-input:-webkit-autofill {
  background-color: white !important;
  box-shadow: 0 0 0px 1000px white inset !important;
}

.search-button {
  background: #8ed05cb5;
  border: none;
  padding: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease-in-out;
}

.search-button img {
  width: 22px;
  height: 22px;
}

.search-button:hover {
  background: var(--green-color);
}

/* DATA OUTPUT          */

.output {
  position: relative;
  z-index: 2;
}

.two-column-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 18px;
  padding: 20px;
  background-color: white;
  border-bottom: 1px solid black;
}

.left-column,
.right-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.attribute {
  font-weight: 600;
  font-size: large;
  text-align: right;
  padding: 20px;
  background: linear-gradient(to left, whitesmoke, white);
  color: black;
}

.data {
  font-weight: 400;
  font-size: large;
  padding: 20px;
  background: linear-gradient(to right, whitesmoke, white);
}

.error {
  color: red;
  margin-top: 10px;
}

/* COUNTRY HERO         */

.country-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50vh;
  width: 100%;
  margin: 0;
}

.country-left,
.country-right {
  flex: 1;
  padding: 20px;
  height: 50vh;
  border: 1px solid #000000;
  background-color: var(--beige-color);
}

.country-left {
  border-right: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.country-left img {
  padding: 10px;
  border: 1px dotted black;
  width: auto;
  max-height: 150px;
  height: auto;
}

.country-left h2 {
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 800;
  font-size: 48px;
  color: var(--brown-color);
  width: 100%;
  margin-top: 20px;
}

.country-right {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.country-right .image-container {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
}

.data-container {
  font-family: "Inter-Regular", Helvetica;
}

/* FOOTER STYLES        */

footer {
  background: var(--brown-color);
  color: #ede0d4;
  height: 50vh;
  margin-top: 0;
  padding: 60px 60px;
  position: relative;
  z-index: 2;
}

footer h3 {
  font-family: "Inter-Regular", Helvetica;
  color: #ede0d4;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 24px;
}

footer ul {
  list-style: none;
  padding-left: 0;
}

footer ul li {
  font-size: 14px;
  margin: 16px 0;
  text-align: left;
}

footer li a {
  position: relative;
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease-in-out;
}

footer li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1px;
  background-color: var(--beige-color);
  transition: width 0.3s ease-in-out;
}

footer li a:hover {
  color: var(--beige-color);
}

footer li a:hover::after {
  width: 100%;
}

footer .links-container {
  display: grid;
  grid-template-columns: 2fr 2fr 3fr;
  gap: 30px;
}

footer .social {
  display: flex;
  gap: 15px;
}

footer .social a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background 0.3s ease-in-out;
}

footer .social a:hover {
  background: rgba(255, 255, 255, 0.2);
}

footer hr {
  border-top: 1px solid whitesmoke;
  margin: 50px 0;
  opacity: 0.8;
}

footer .copyright {
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
  opacity: 0.8;
}

/* BUTTONS              */

.btn {
  padding: 16px 36px;
  border-radius: 10px;
  color: var(--beige-color);
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  position: relative;
}

.btn.dark {
  background: #28221f;
}

.btn:hover {
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}

.explore-btn {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
}
